.container-graph {
    width: 700px;
    border: 1px solid #60876F;
    border-radius: 8px;
    height: 190px;
    background: rgba(51, 51, 51, 0.40);
    margin-top: 8px;
    margin-left: 25px;
}

.graph {
    padding-right: 20px;
    padding-left: 10px;
}

.number-cur {
    padding-top: 8px;
    padding-left: 8px;
}

.num-container {
    display: flex;
}

.number-and-sensor {
    color: #F0F4F2;
}

.number-sensor {
    color: #F0F4F2;
    margin-left: 5px;
}

.cur-temp {
    color: #46F357;
    font-size: 18px;
}

.topbar-graph {
    display: flex;
}

.time-switch {
    position: relative;
    display: flex;
    color: #F0F4F2;
    padding-top: 18px;
    padding-left: 480px;
}

/* DrowDown menu in Chart */

/* Бэк залить в стиль календаря*/
.dropmenu {
    top: 100%;
    position: absolute;
}

.dropmenu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: #60876F;
}

/* Рисую три блока поверх контайнера через opacity актив - 100% у бэкграунда у остальных 0%*/