.topbar {
    height: 220px;
    width: 700px;
    margin-top: 8px;
    margin-left: 25px;
    border: 1px solid #60876F;
    border-radius: 8px;
    background: rgba(51, 51, 51, 0.40);
    color: #60876F;
    display: flex;
}

.temp-text {
    size: 12px;
}

.icon-with-text {
    display: flex;
}

.icon-with-text-night {
    display: flex;
    margin-top: 25px;
}

.switch-bar {
    display: flex;
    margin-top: 13px;
    background-color: #031F29;
    padding: 10px;
}

.temp-changer {
    margin-left: 13px;
    margin-top: 14px;
}

.temp-text {
    padding-left: 16px;
}

.minus {
    padding-left: 27px;
}

.switch-text {
    padding-left: 42px;
}

.plus {
    padding-left: 42px;
    
}

.container-image {
    width: 450px;
    height: 200px;
    margin-left: 14px;
    margin-top: 10px;
}

.container-image-water {
    width: 450px;
    height: 200px;
    margin-top: 10px;
    margin-left: 235px;
}

.layer_1 {
    position: absolute;
    margin-left: 251px;
    margin-top: 20px;
    width: 143px;
    height: 175px;
    background: rgba(136, 255, 42, 0.10);
}

.layer_2 {
    position: absolute;
    margin-left: 394px;
    margin-top: 20px;
    width: 143px;
    height: 175px;
    background: rgba(136, 255, 42, 0.10);
}

.layer_3 {
    position: absolute;
    margin-left: 537px;
    margin-top: 20px;
    width: 143px;
    height: 175px;
    background: rgba(136, 255, 42, 0.10);
}

.radioicon-holder_1{
    display: flex;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 14px;
}

.radioicon-holder_2{
    display: flex;
    margin-top: 80px;
    margin-left: 35px;
    font-size: 14px;
}

.holder_text {
    margin-left: 5px;
    margin-top: -2px;
    color: #FCFCFC;
}