.nav-menu {
    width: 284px;
    border-radius: 8px;
    border: 1px solid #60876F;
    background: rgba(51, 51, 51, 0.40);
    left: 16px;
    top: 8px;
    position: relative;
    margin-bottom: 7px;
}

.navigation {
    padding-top: 35px;
    margin: 0;
}

.navigation > li > a {
    padding-left: 16px;
}

.sub-navigation {
    margin: 0;
}

.sub-navigation a {
    padding-left: 33px;
}

li {
    list-style: none;
}

a {
    margin-top: 8px;
    display: block;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.link-item {
    color: #60876F;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.active{
    color: #F0F4F2;
    border-right: 2px solid #196241;
    border-left: 1px solid #196241;
    background: linear-gradient(90deg, #196241 1.23%, #60876F 49.23%, #196241 98.24%);
    background-blend-mode: soft-light;
}

.nav-text {
    margin-top: 1px;
    margin-left: 15px;
}

.icon-minus {
    padding-left: 15px;
}