.sidebar {
    width: 284px;
    height: 817px;
    border-radius: 8px;
    border: 1px solid #60876F;
    background: rgba(51, 51, 51, 0.40);
    display: flex;
    flex-direction: column;
}

.datetime {
    color: #F0F4F2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: .5px #000000;
}

.time {
    font-size: 20px;
    font-weight: 900;
}

.date {
    font-size: 14px;
    font-weight: 600;
}

.navigation {
    display: inline-flex;
    height: 609px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.navigation-item {
    margin-left: 16px;
}

.list-item {
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.nav-text {
    padding-left: 16px;
}
